@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;


    --normal: #A8A77A;
    --fuego: #EE8130;
    --agua: #6390F0;
    --hierba: #7AC74C;
    --electrico: #F7D02C;
    --hielo: #96D9D6;
    --lucha: #C22E28;
    --veneno: #A33EA1;
    --tierra: #E2BF65;
    --volador: #A98FF3;
    --psiquico: #F95587;
    --bicho: #A6B91A;
    --roca: #B6A136;
    --fantasma: #735797;
    --dragon: #6F35FC;
    --siniestro: #705746;
    --acero: #B7B7CE;
    --hada: #D685AD;
}

/* ASIGNANDO COLOR A CADA BOTON */
.normal{
    background-color: var(--normal);
    color: var(--clr-black);
}

.fire{
    background-color: var(--fuego);
    color: var(--clr-black);
}

.water{
    background-color: var(--agua);
    color: var(--clr-white);
}

.grass{
    background-color: var(--hierba);
    color: var(--clr-black);
}

.electric{
    background-color: var(--electrico);
    color: var(--clr-black);
}

.fighting{
    background-color: var(--lucha);
    color: var(--clr-white);
}

.poison{
    background-color: var(--veneno);
    color: var(--clr-white);
}

.flying{
    background-color: var(--volador);
    color: var(--clr-black);
}

.bug{
    background-color: var(--bicho);
    color: var(--clr-black);
}

.rock{
    background-color: var(--roca);
    color: var(--clr-black);
}

.ice{
    background-color: var(--hielo);
    color: var(--clr-black);
}

.ground{
    background-color: var(--tierra);
    color: var(--clr-black);
}

.ghost{
    background-color: var(--fantasma);
    color: var(--clr-white);
}

.dark{
    background-color: var(--siniestro);
    color: var(--clr-white);
}

.steel{
    background-color: var(--acero);
    color: var(--clr-black);
}

.dragon{
    background-color: var(--dragon);
    color: var(--clr-white);
}

.fairy{
    background-color: var(--hada);
    color: var(--clr-black);
}

.psychic{
    background-color: var(--psiquico);
    color: var(--clr-black);
}

/* ARRANCANDO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: "Rubik", sans-serif;
}

.nav-item{
    list-style: none;
}

.btn{
    border: none;
}

.img-nav{
    width: 150px;
}

/* Cajas individuales */

body{
    min-height: 100vh;
    background-color: var(--clr-gray);
}

header{
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    background-color: var(--clr-white);
}

.nav{
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .6rem;
}

.btn-header{
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
    min-width: 90px;
}

.btn-header:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

/* MAIN */

main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* CONTENEDOR */
.pokemon{
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;   /*evita que los elementos hijos se mezclen visualmente con el fondo o elementos externos, creando un nuevo contexto de apilamiento.*/
    overflow: hidden;
}

/* TEXTO BACK */
.pokemon-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}

/* CONTENEDOR POKEMON IMGAEN */

.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen img{
    width: 100%;
    max-width: 6rem;
}

/* POKEMON INFO */

.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor{
    display: flex;
    align-items: center;
    column-gap: .6rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id{
    background-color: var(--clr-gray);
    padding: .25rem  .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-nombre{
    font-size: 1.4rem;
}

/* POKEMON TIPOS */

.pokemon-tipos{
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo{
    padding: .25rem  .5rem;
    border-radius: 100vmax;
}

.pokemon-stats{
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat{
    background-color: var(--clr-gray);
    padding: .25rem  .5rem;
    border-radius: 100vmax;
}

@media screen and (min-width: 470px) {
    .pokemon-todos{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}